body {
	background: red; 
	margin-left: 100px;
	margin-right: 200px;
}

header {
	margin-top: 70px;
}

h1 {
	color: blue;
	font-family: fantasy;

}

h2 {
	font-family: fantasy;

}

p {
	font-size: 18px;
}

.img_padrao {
	margin-bottom:  20px;
}

footer{
	margin-bottom: 30px;
}

}